.gallery {
    font-family: Century Gothic, sans-serif;
    .container {
        padding: 10px;
        .list-group {
            .list-group-item {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}